# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/
*.whl

# 虚拟环境
.venv/
venv/
env/

# 测试
.hypothesis/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
__MACOSX/

# pip editable install
MSR-cli/msr_sync.egg-info/
